@import 'tailwindcss';

@font-face {
	font-family: 'Netflix Sans';
	src:
		local('NetflixSans-Regular'),
		url('./assets/fonts/NetflixSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Netflix Sans';
	src:
		local('NetflixSans-Bold'),
		url('./assets/fonts/NetflixSans-Bold.woff2') format('woff2');
	font-weight: bold;
}

@font-face {
	font-family: 'Netflix Sans';
	src:
		local('NetflixSans-Medium'),
		url('./assets/fonts/NetflixSans-Medium.woff2') format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'Netflix Sans';
	src:
		local('NetflixSans-Light'),
		url('./assets/fonts/NetflixSans-Light.woff2') format('woff2');
	font-weight: 300;
}

body {
	font-family: 'Netflix Sans';
}
